Source: libmali-bsp-rock64
Section: misc
Priority: optional
Maintainer: Leszek Lesner <leszek.lesner@web.de>
Build-Depends: debhelper (>= 9),
               libdrm2,
               libx11-6,
               libxdamage1,
               libxext6,
               libxfixes3
Standards-Version: 3.9.5
Homepage: https://github.com/mdrjr/c1_mali_libs

Package: libmali-bsp-rock64
Architecture: arm64
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: openGL libs from Mali
 openGL implemenation from Mali

